
body{

    font-family: Raleway;
    font-size: 16px;
    width: 1440px;
}
h1{
    font-size: 64px;
    text-align:center;
}
.header{
    text-align: center;
}
h2{
    font-size: 56px;
}
h3{
    font-size: 48px;
    color:white
}
h4{
    font-size: 24px;
}
h5{
    font-size: 20px;
}

.services_card{
    background-color:white;
    width: 368px;
    height: 384px;
    border-radius:16px;
    padding: 40px;
    
}
.services{
    padding:120px;
    background-color:#181818;
    width: 1440px;
}
.services_row{
    margin-top: 80px;
    display: flex;
    justify-content:space-around;
}
.q_and_a{
    background-color:#181818;
    
}
.q_and_a__card{
    background-color:white
}
.for_requests{
    display:block
}
.button_dev{
    font-weight: 600;
    line-height: 24px;
    width: 93px;
    height: 24px;
    border-radius:8px;
    border: 2px solid #000000;
    padding: 4px 8px;
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 2px;
    margin-left: 140px;
}

.header_menu{
    display: flex;
    margin-top: 40px;
    font-style: normal;
}
.container{
    display: flex;
    justify-content: center;
}
.header_menu__inner_links{
    width: 446px;
    height: 24px;
    display: flex;
    justify-content:space-between;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
    
}
.header_link{
    padding: 15px 24px 17px;
    border-radius: 8px;
}
.header_links__tg{
    
    background-color:#181818;
    color:white;
}
.header_links__portfolio{
    border:2px solid #000000;
}
.header_links{
    margin-top: 80px;
    display: flex;
    padding: 0px;
    height: 56px;
    justify-content: center;
    gap: 16px;

}

.img_filter__button{
width:fit-content;
padding: 4px 16px;
border: 2px solid #000000;
border-radius:16px;
}
.img_filter{
    margin-top: 120px;
    display: flex;
    width: 473px;
    height: 32px;
    justify-content: space-between;
    
}

.img_container__content{
    margin: 20px;
}
.about_me{
    padding: 120px;
    display: flex;
    justify-content: center;
    gap:  40px;
}
.about_me__values__card{
    width: 79px;
height: 88px;
}
.about_me__values{
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.count_values__ask{
    display: flex;
    flex-direction: column;
    
border:1px solid #cccccc;
border-radius:16px;
padding: 20px 12px;
justify-content: space-between;
}

.count_values__content{
    
    margin: 20px 12px;
    padding: 12px 16px;
    border-radius:8px;
}
.default_option{
    color: #808080;
}